<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friend</title>
    <link rel="stylesheet" href="fr.css">
</head>
<body>
    <div class="container">
        <div class="alert">Friend Added Successfully</div>
        <h1>Add Friend</h1>
        <form id="add-friend-form">
            <div class="inputBox">
                <input type="email" id="emailid" placeholder="Your Email..." required/>
            </div>
            <div class="inputBox">
                <input type="text" id="friendName" placeholder="Friend's Name..." required/>
            </div>
            <div class="inputBox">
                <input type="tel" id="friendPhone" placeholder="Friend's Phone Number..." required/>
            </div>
            <div class="inputBox">
                <button type="submit" id="add-friend-id">Add Friend</button>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
    <script src="frjs.js"></script>
</body>
</html>
